@font-face {
    font-family: font1;
    src: url(/fonts/go3v2.ttf);
}
@font-face {
    font-family: font2;
    src: url(/fonts/VarsityTeam-Bold.otf);
}

@font-face {
    font-family: font3;
    src: url(/fonts/Antihero.ttf);
}